@{
  Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<br>
<br>
<br>
@if (!User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("LogOff", "Account"))
    {
    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    }
}  
<br>
<br>
<br>
<p>@Html.ActionLink("Messages", "Index", "Messages")</p>
</div>